<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SuiteTest">
  <test thread-count="5" name="Testgrp">
    <classes>
      <class name="day44.Dependency_Testing"/>
      <class name="day44.Grouping_signup"/>
      <class name="day44.Grouping_Test_verify"/>
      <class name="day44.Grouping_Test"/>
    </classes>
  </test> <!-- Testgrp -->
</suite> <!-- SuiteTest -->
